
<div class="description">
    <ng-container *ngIf="currentIndex==0" >
        <h2>Step 1</h2>
        <p>This is step 1</p>
    </ng-container>
    
    <ng-container *ngIf="currentIndex==1" >
        <h2>Step 2</h2>
        <p>This is step 2</p>
    </ng-container>
    
    <ng-container *ngIf="currentIndex==2" >
        <h2>Step 3</h2>
        <p>This is step 3</p>
    </ng-container>
    
    <ng-container *ngIf="currentIndex==3" >
        <h2>Step 4</h2>
        <p>This is step 4</p>
    </ng-container>
    </div>